<!-- add/edit modal -->

<div class="content-wrapper">
  <!--grid row-->
  <div class="row">
    <!--grid col-->
    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 card-container">
      <!-- <mat-card class="client-card"> UNCOMMENT IF IT IS NOT MODAL-->
      <form [formGroup]="mainDepositForm" autocomplete="off">
        <mat-card-title align="center">
          <h3 class="form-title">Main Deposit {{ mode | titlecase }} Form</h3>
          <!--  <button mat-icon-button class="add-visit">
            <mat-icon>add</mat-icon>
          </button> -->
        </mat-card-title>
        <hr />
        <mat-card-content>
          <!-- third-row -->
          <div class="row">
            <!-- today -->
            <div class="col nep-date-picker">
              <app-form-group>
                <!-- checkbox -->
                <!-- <mat-checkbox
                  [style.margin]
                  class="example-margin small"
                  formControlName="today"
                  [(ngModel)]="isItToday"
                  (change)="onDayCheck($event)"
                  >Today</mat-checkbox
                > -->
                <!-- checkbox end -->
              </app-form-group>
            </div>
            <!-- today end -->
            <!-- test end -->

            <!-- second-col -->
            <!-- <div class="col nep-date-picker" *ngIf="!isItToday">
              <app-form-group>
                <mat-label class="text-muted">Reg Date</mat-label>
                <np-datepicker
                  class="form-group"
                  inputClass="form-control"
                  language="en"
                  formControlName="visitDateBs"
                  [(ngModel)]="visitDateBs"
                  [dateFormatter]="visitDateFormatter"
                ></np-datepicker>

              </app-form-group>
            </div> -->
            <!-- second-col end -->
          </div>
          <!-- third-row end -->
          <!-- second row -->
          <div class="row">
            <!-- doctor -->
            <div class="col-md-6">
              <app-form-group>
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    placeholder=" Amount"
                    formControlName="amount"
                    fxlayoutalign="column"
                  />
                  <!-- <mat-hint align="end">Enter Doctor Name</mat-hint> -->
                  <!--  <mat-error *ngIf="hasError('wardNum', 'required')"
                    >Last Name is required</mat-error
                  >
                  <mat-error *ngIf="hasError('wardNum', 'maxlength')"
                    >Enter last name</mat-error
                  > -->
                </mat-form-field>
              </app-form-group>
            </div>
            <!-- doctor end -->
            <!-- visitAfter  -->
            <!-- <div class="col-md-6">
              <app-form-group>
                <mat-form-field>
                  <input
                    matInput
                    type="number"
                    placeholder=" Visit After"
                    formControlName="visitAfterDay"
                    id="lname"
                    fxlayoutalign="column"
                  />

                </mat-form-field>
              </app-form-group>
            </div> -->
            <!-- visitAfter  enf-->
          </div>
          <!-- second row end -->

          <!-- table row end -->
        </mat-card-content>

        <div class="row">
          <div class="col card-actions">
            <mat-card-actions>
              <app-save-cancel-buttons
                [class.spinner]="loading"

                (save)="onSave()"
                (cancel)="onCancel()"
              ></app-save-cancel-buttons>
            </mat-card-actions>
          </div>
        </div>
      </form>
      <!-- </mat-card> -->
      <hr />
    </div>
    <!--grid col-->
  </div>
  <!--grid row-->
</div>
