<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <span class="navbar-brand" style="font-family: 'URW Gothic'"> Test | </span>
  <button
    class="navbar-toggler m-auto"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <mat-divider class="mat-divider-vertical m-auto"></mat-divider>
  <div
    class="collapse navbar-collapse"
    id="navbarTogglerDemo02"
    style="font-family: Cantarell"
  >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a
          class="nav-item nav-link"
          routerLinkActive="is-active"
          [routerLink]="['/home/users']"
          >View Users</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-item nav-link"
          routerLinkActive="is-active"
          [routerLink]="['/home/add-user']"
          >Add User
        </a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <h4>Total num of users: {{ usersCount?._value }}</h4>
      </li>
    </ul>
  </div>

  <button mat-icon-button aria-label="Example icon-button with a menu"></button>
  <a class="navbar-brand"> </a>
  <mat-menu #menu="matMenu"> </mat-menu>
</nav>
