<div class="content-wrapper">
  <!--grid row-->
  <div class="row">
    <!--grid col-->
    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 card-container">
      <!-- <mat-card class="client-card"> -->
        <mat-card-title align="center"> Customer Form</mat-card-title>
        <form [formGroup]="customerForm" autocomplete="off">
          <mat-card-content>
            <!-- first-row -->
            <div class="row">
              <!-- first-col -->
              <div class="col">
                <app-form-group [required]="true">
                  <mat-form-field class="=full-width">
                    <input
                      matInput
                      type="text"
                      placeholder=" Name"
                      formControlName="name"
                      id="name"
                      required
                    />
                    <mat-hint align="end">Enter Full Name</mat-hint>
                    <!-- <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                     <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>-->
                  </mat-form-field>
                </app-form-group>
              </div>
              <!-- first-col end -->
              <!--  second-col-->
              <div class="col">
                <app-form-group [required]="true">
                  <mat-form-field class="=full-width">
                    <input
                      matInput
                      type="text"
                      placeholder=" Address"
                      formControlName="address"
                      required
                    />
                    <mat-hint align="end">Enter Address </mat-hint>
                    <!--<mat-error *ngIf="hasError('address', 'required')">Address is required</mat-error>
  <mat-error *ngIf="hasError('address', 'maxlength')">You have more than 100 characters</mat-error>-->
                  </mat-form-field>
                </app-form-group>
              </div>
              <!--  second-col end-->
            </div>
            <!-- first-row end -->

            <!-- second-row -->
            <div class="row">
              <!-- first col -->
              <div class="col">
                <app-form-group [required]="true">
                  <mat-form-field class="=full-width">
                    <input
                      matInput
                      type="number"
                      placeholder=" Mobile "
                      formControlName="mobile"
                      required
                    />
                    <mat-hint align="end">Enter Mobile Number </mat-hint>
                    <!--<mat-error *ngIf="hasError('mobile', 'required')">Address is required</mat-error>
        <mat-error *ngIf="hasError('mobile', 'maxlength')">You have more than 100 characters</mat-error>-->
                  </mat-form-field>
                </app-form-group>
              </div>
              <!-- first col end -->
              <!-- second col  -->
              <div class="col">
                <app-form-group>
                  <mat-form-field class="=full-width">
                    <input
                      matInput
                      type="text"
                      placeholder=" Email"
                      formControlName="email"
                      id="lname"
                      fxlayoutalign="column"
                    />
                    <mat-hint align="end">Enter e-mail Address</mat-hint>
                    <!--  <mat-error *ngIf="hasError('wardNum', 'required')"
                    >Last Name is required</mat-error
                  >
                  <mat-error *ngIf="hasError('wardNum', 'maxlength')"
                    >Enter last name</mat-error
                  > -->
                  </mat-form-field>
                </app-form-group>
              </div>
              <!-- second col end -->
            </div>
            <!-- second-row end -->

            <!-- third-row -->
            <div class="row">
              <!-- first-col -->
              <!-- dob -->
              <div class="col nep-date-picker">
                <app-form-group>
                  <mat-label class="text-muted">D.O.B</mat-label>
                  <np-datepicker
                    class="form-group"
                    inputClass="form-control"
                    language="en"
                    [(ngModel)]="dob"
                    formControlName="dob"
                    [dateFormatter]="dobDateFormatter"
                  ></np-datepicker>
                  <blockquote class="text-muted small text-left">
                    Select D.O.B
                  </blockquote>
                </app-form-group>
              </div>
              <!-- dob end -->
              <!-- first-col end -->

              <!-- second-col -->
              <div class="col nep-date-picker">
                <app-form-group>
                  <mat-label class="text-muted">Reg Date</mat-label>
                  <np-datepicker
                    class="form-group"
                    inputClass="form-control"
                    language="en"
                    formControlName="regDateBs"
                    [(ngModel)]="regDate"
                    [dateFormatter]="regDateFormatter"
                  ></np-datepicker>
                  <blockquote class="text-muted small text-left">
                    Select Registration Date
                  </blockquote>
                </app-form-group>
              </div>
              <!-- second-col end -->
            </div>
            <!-- third-row end -->
          </mat-card-content>

          <div class="row">
            <div class="col card-actions">
              <mat-card-actions>
                <app-save-cancel-buttons
                  (save)="onSave()"
                  (cancel)="onCancel()"
                ></app-save-cancel-buttons>
              </mat-card-actions>
            </div>
          </div>
        </form>
      <!-- </mat-card> -->
      <hr />
    </div>
    <!--grid col-->
  </div>
  <!--grid row-->
</div>
