<div class="content-wrapper">
  <!-- print button -->
  <div class="print-button-container">
    <button
      [useExistingCss]="true"
      type="button"
      mat-icon-button
      color="warn"
      printSectionId="print-section"
      ngxPrint
      ngbTooltip="Print invoice"
      (click)="onPrintStatusCheck()"
    >
      <mat-icon>print</mat-icon>
    </button>
  </div>
  <!-- print button end -->
  <div id="print-section">
    <div class="print-content">
      <!-- company name -->
      <div class="row no-gutters" id="header">
        <!--   <div class="col-md-3">
        <img
          src="/assets/images/nnc_logo.png"
          alt="logotipo"
          class="logotipo"
        />
      </div> -->

        <div class="col-md-7 name mx-auto">
          <h2 class="text-center">{{ orgDetail.organization }}</h2>
          <h6 class="text-center mx-auto">We care for your smile</h6>
          <h5 class="text-center">Estd. 2072 B.S</h5>
        </div>
      </div>
      <!-- company name end -->
      <!-- Invoice To -->
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="invoice-address">
            <h2>INVOICE</h2>
            <!-- invoice details table -->
            <!--  <table class="table table-borderless table-sm">
          <thead>
            <tr>
              <th>Invoice num</th>
              <th>Date of issue</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ invoice.invoiceNum }}</td>
              <td>{{ invoice.dateOfIssue }}</td>
            </tr>
          </tbody>
        </table> -->
            <!-- invoice details table -->
            <!-- customer details table -->
            <table class="table table-borderless table-sm">
              <!--  <thead>
            <tr>
              <th scope="row">Invoice num</th>
              <th scope="rwo">Date of issue</th>
            </tr>
          </thead> -->
              <tbody>
                <tr>
                  <th>Invoce num:</th>
                  <td>{{ invoice.invoiceNum }}</td>
                </tr>
                <tr>
                  <th>Date of Issue:</th>
                  <td>{{ invoice.dateOfIssue }}</td>
                </tr>
                <tr>
                  <th>Billed to:</th>
                  <td>{{ invoice.customerName }}</td>
                </tr>
                <tr>
                  <th>Address:</th>
                  <td>{{ invoice.customerAddress }}</td>
                </tr>
                <tr>
                  <th>Mobile:</th>
                  <td>{{ invoice.customerMobile }}</td>
                </tr>
              </tbody>
            </table>
            <!-- customer details table end-->
          </div>
        </div>
      </div>

      <!-- items description table  -->
      <table class="table invoice-table">
        <thead>
          <tr>
            <th>Description</th>
            <th class="calculation-table-head">Unit</th>
            <th class="calculation-table-head">Rate</th>
            <th class="calculation-table-head">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>RCT</td>
            <td class="calculation-table-head">1</td>
            <td class="calculation-table-head">2500</td>
            <td class="calculation-table-head">2500</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="calculation-table-head" colspan="2"></td>
            <td class="calculation-table-head">Total</td>
            <td class="calculation-table-head">2500</td>
          </tr>
        </tfoot>
      </table>
      <!-- items description table end  -->
    </div>
  </div>
</div>
