<hr class="divider" />

<div class="d-flex align-items-center row save-cancel-buttons">
  <div class="ml-auto">
    <button
      [class.spinner]="isSaveLoading"
      class="mr-2"
      mat-raised-button
      (click)="save.emit()"
      color="primary"
      matTooltip="Save"
    >
      Save
    </button>

    <button
      [class.spinner]="isCancelLoading"
      mat-raised-button
      (click)="cancel.emit()"
      color="info"
      matTooltip="Cancel"
    >
      Cancel
    </button>
  </div>
</div>
