<div class="content-wrapper">
  <xng-breadcrumb></xng-breadcrumb>

  <mat-tab-group
    mat-align-tabs="start"
    class="tab-container"
    (selectedTabChange)="sendStatus($event)"
  >
    <mat-tab>
      <ng-template mat-tab-label
        >{{ label1 }}
        <!-- <i class="material-icons" (click)="removeTab(tabIndex)">close</i> -->
      </ng-template>

      <ng-container><app-visit-detail></app-visit-detail></ng-container>
    </mat-tab>
    <mat-tab
      ><ng-template mat-tab-label
        >{{ label2 }}
        <!-- <i class="material-icons" (click)="removeTab(tabIndex)">close</i> -->
      </ng-template>
      <ng-container><app-main-deposit></app-main-deposit></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
