<!--<nav class="navbar navbar-expand navbar-light bg-light" *ngIf="currentUser">-->
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <a class="navbar-brand">
    <div class="logo-image">
      <img src="assets/images/logo.png" class="img-fluid">
    </div>
  </a>
  <span class="navbar-brand " style="font-family: 'URW Gothic' ">
<!--      <img src="assets/images/logo.png" style="width: 80px;height: 80px">-->
     Aama Dental |
    </span>
  <button class="navbar-toggler m-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <mat-divider class="mat-divider-vertical m-auto"></mat-divider>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="font-family: Cantarell">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-item nav-link" routerLinkActive="is-active" [routerLink]="['/newclient']">Home</a>
      </li>
      <li class="nav-item ">

        <a class="nav-item nav-link" routerLinkActive="is-active" [routerLink]="['/sms']">SMS</a>
      </li>
      <li class="nav-item ">

        <a class="nav-item nav-link" routerLinkActive="is-active" [routerLink]="['/invoice']">Invoice</a>
      </li>
      <li class="nav-item ">

        <a class="nav-item nav-link" routerLinkActive="is-active" [routerLink]="['/pov']">Enter POV</a>
      </li>
      <li class="nav-item ">

        <a class="nav-item nav-link" routerLinkActive="is-active" [routerLink]="['/clientlist']">client list</a>
      </li>
      <!--    <a class="nav-item nav-link" routerLink="/customerlist">Client </a>-->
      <!--    <a class="nav-item nav-link" routerLinkActive="is-active"="active" (click)="logout()">Logout</a>-->

    </ul>
  </div>

</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>

