<!-- add/edit modal -->

<div class="content-wrapper">
  <!-- <mat-card> -->
  <form [formGroup]="visitMainForm" autocomplete="off">
    <mat-card-title align="center">
      <h3 class="form-title">Visit {{ mode | titlecase }} Form</h3>
      <!--  <button mat-icon-button class="add-visit">
            <mat-icon>add</mat-icon>
          </button> -->
    </mat-card-title>
    <hr />
    <mat-card-content>
      <!-- second-row -->
      <div class="row">
        <!-- first col -->
        <div class="col mb-5 mt-4">
          <app-form-group>
            <mat-form-field>
              <input
                matInput
                type="test"
                placeholder=" Visit Type"
                formControlName="name"
                fxlayoutalign="column"
              />
            </mat-form-field>
          </app-form-group>
        </div>
        <!-- first col end -->
        <!-- second col  -->

        <!-- second col end -->
      </div>
      <!-- second-row end -->
    </mat-card-content>

    <div class="row">
      <div class="col card-actions">
        <mat-card-actions>
          <app-save-cancel-buttons
            [isCancelLoading]
            [isSaveLoading]
            (save)="onSave()"
            (cancel)="onCancel()"
          ></app-save-cancel-buttons>
        </mat-card-actions>
      </div>
    </div>
  </form>
  <!-- </mat-card> -->
  <!-- <hr /> -->
</div>
