<!-- <div class="row">
  <div class="col m-auto">
    <section fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title align="center">Enter Client Details</mat-card-title>
        <form [formGroup]="povListForm" autocomplete="off" novalidate (ngSubmit)="createPovForm()"
              fxLayout="column wrap"
              fxLayoutAlign="center center" fxLayoutGap="10px">

          <mat-card-content>
            <mat-form-field  class="w-75 ">
              <input matInput type="text" placeholder="Purpose Of Visit" formControlName="pov" id="pov" >
              <mat-hint align="end">Enter purpose of visit </mat-hint>

            </mat-form-field>
          </mat-card-content>

          <mat-card-actions align="center">
            <button mat-raised-button color="primary" [disabled]="!povListForm.valid">Save</button>
            <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
          </mat-card-actions>
        </form>
      </mat-card>
      <hr>
      {{povListForm.value |json}}
    </section>
  </div>-->
  <!--table section-->
  <!--<div class="col-md-3 float-lg-right">
    <table mat-table [dataSource]="clientListTableDataSource" class="mat-elevation-z8">

      &lt;!&ndash;- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" &ndash;&gt;

      &lt;!&ndash; Name Column &ndash;&gt;
      <ng-container matColumnDef="sn">
        <th mat-header-cell *matHeaderCellDef> sn </th>
        <td mat-cell *matCellDef="let element"> {{element.sn}} </td>
      </ng-container>
      &lt;!&ndash; Position Column &ndash;&gt;
      <ng-container matColumnDef="pov">
        <th mat-header-cell *matHeaderCellDef> Purpose Of Visit </th>
        <td mat-cell *matCellDef="let element"> {{element.pov}} </td>
      </ng-container>





      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
 </div>

</div>-->
