<div class="content-wrapper">
  <xng-breadcrumb></xng-breadcrumb>
  <div class="chart-container">
    <div class="row">
      <!-- select option -->
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Choose </mat-label>
          <mat-select
            [(value)]="selectedChart"
            (selectionChange)="onChooseChart($event.value)"
          >
            <mat-option *ngFor="let chart of charts" [value]="chart">{{
              chart
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- select option end -->
    </div>
    <!-- row -->
    <div class="row">
      <!-- table -->
      <div class="col example-container mat-elevation-z8" *ngIf="showTable">
        <table mat-table [dataSource]="chartTable" class="mb-3">
          <!-- &lt;!&ndash;First Name Column &ndash;&gt;
      <ng-container matColumnDef="customerid">
        <th mat-header-cell *matHeaderCellDef> Customer Id</th>
        <td mat-cell *matCellDef="let element"> {{element.customerid}} </td>
      </ng-container>-->
          <!--First Name Column -->
          <ng-container matColumnDef="sn">
            <th mat-header-cell *matHeaderCellDef>S.n</th>
            <td mat-cell *matCellDef="let element; index as i">
              <!--   <button mat-stroked-button routerLink="/customer-detail/id">
               {{ element.fname }}
             </button>-->
              {{ i + 1 }}.
            </td>
          </ng-container>
          <!--First Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element; index as i">
              <!--   <button mat-stroked-button routerLink="/customer-detail/id">
               {{ element.fname }}
             </button>-->
              {{ element.name }}.
            </td> </ng-container
          ><ng-container matColumnDef="lastSms">
            <th mat-header-cell *matHeaderCellDef>mobile</th>
            <td mat-cell *matCellDef="let element">
              <!--   <button mat-stroked-button routerLink="/customer-detail/id">

             </button>-->
              {{ element.mobile }}
            </td>
          </ng-container>
          <!-- Action Column -->
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <!-- table end -->

      <!-- first col -->
      <div class="col" *ngIf="selectedChart === 'Vertical Bar'">
        <h3>{{chart1Title}}</h3>

        <ngx-charts-bar-vertical
          [view]="[400, 400]"
          [results]="chartData"
          [xAxisLabel]="xAxisLabel1"
          [legendTitle]="legendTitle1"
          [yAxisLabel]="yAxisLabel1"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [gradient]="true"
          [scheme]='colorScheme'
        >
        </ngx-charts-bar-vertical>
      </div>
      <!-- first col end -->
      <!-- second chart -->
      <div class="col" *ngIf="selectedChart === 'Vertical Bar'">
        <h3>{{chart2Title}}</h3>

        <ngx-charts-bar-vertical
          [view]="view"
          [results]="chart2Data"
          [xAxisLabel]="xAxisLabel2"
          [legendTitle]="legendTitle2"
          [yAxisLabel]="yAxisLabel2"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [gradient]="true"
        >
        </ngx-charts-bar-vertical>
      </div>
      <!-- second chart end -->
      <!-- second col  -->
      <div class="col chart" *ngIf="selectedChart === 'Pie Chart'">
        <h3>{{chart1Title}}</h3>

        <ngx-charts-pie-chart
          [results]="chartData"
          [legend]="showLegend"
          [legendTitle]="legendTitle1"
          [view]="view"
          [labels]="true"
        >
        </ngx-charts-pie-chart>
      </div><div class="col chart" *ngIf="selectedChart === 'Pie Chart'">
        <h3>{{chart2Title}}</h3>

        <ngx-charts-pie-chart
          [results]="chart2Data"
          [legend]="showLegend"
          [legendTitle]="legendTitle2"
          [view]="view"
          [labels]="true"
        >
        </ngx-charts-pie-chart>
      </div>
      <!-- second col end -->
      <!-- third col -->
      <div class="col chart" *ngIf="selectedChart === 'Advance Pie Chart'">
        <h3>{{chart1Title}}</h3>

        <ngx-charts-advanced-pie-chart
          [view]="view"
          [results]="chartData"
          [gradient]="true"
        >
        </ngx-charts-advanced-pie-chart>
      </div><div class="col chart" *ngIf="selectedChart === 'Advance Pie Chart'">
        <h3>{{chart2Title}}</h3>

        <ngx-charts-advanced-pie-chart
          [view]="view"
          [results]="chart2Data"
          [gradient]="true"
        >
        </ngx-charts-advanced-pie-chart>
      </div>
    </div>
  </div>
</div>
