/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* You can add global styles to this file, and also import other style files */

/* Body Content */
/* .body-content {
  width: 100%;
  position: relative;
  background: #f0f0fa;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
  min-height: 100vh;
  // padding: 30px;
} */

/* Navbar */
.navbar {
  border-radius: 0;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 30px;
}
.navbar .navbar-nav li a:hover {
  background: transparent;
  color: coral;
}
.content-wrapper {
  padding: 30px;
}
/* .sidebar {
  display: block;
  align-items: center;
  min-height: 100vh;
  background-color: #5dbce2;
  margin: 0.25rem 0 0.25rem 0.25rem;
  border-radius: 0.5rem;
  color: white;
  position: sticky;
} */
